report/result.txt
report/transcript
report/top_without_mem_final.v
synth/alib-52
synth/Constraints.tcl
synth/default.svf
synth/filenames.log
synth/fixed_names_init
synth/timing_max_slow_holdfixed_tut1.rpt
synth/timing_max_slow.rpt
synth/timing_min_fast_holdcheck_tut1.rpt
synth/top_without_mem_final.v
synth/top_without_mem_init.v
v/input_0
v/input_1
v/mti_lib
v/testbench_564.sv
v/transcript
v/modelsim.ini
synth/result.txt
